#Mysql Connection

In [1]:
import os
import pymysql
import pandas as pd

host = os.getenv('MYSQL_HOST')
port = os.getenv('MYSQL_PORT')
user = os.getenv('MYSQL_USER')
password = os.getenv('MYSQL_PASSWORD')
database = os.getenv('MYSQL_DATABASE')

conn = pymysql.connect(
    host=host,
    port=int(3306),
    user="root",
    passwd="",
    db="typearea_4",
    charset='utf8mb4')
df2 = pd.read_sql_query("SELECT * FROM typearea_4",conn)
df2.tail(10)

,#,HOSPCODE,HOSNAME,RECORD_ADDRESS,ADDRESSHOUSENO,FILE_ADDRESS,TYPEAREA,PID,CID,NAME,LNAME,SEX,BIRTH,HID,NATION,DISCHARGE,LABOR
53602,53603,11375,โรงพยาบาลปากน้ำชุมพร,11375,ซอยรุ่งเรือง,86010208,4,034901,011375xxxxx666,แนะ,พม่า,1,2010-09-19,1,048,9,13
53603,53604,09347,โรงพยาบาลส่งเสริมสุขภาพตำบลท่ายาง,11375,ผึ้งทองทวีลาภ,86010301,4,034903,011375xxxxx801,มิ,พม่า(ผึ้งทองทวีลาภ),1,1973-01-01,1,048,9,13
53604,53605,09347,โรงพยาบาลส่งเสริมสุขภาพตำบลท่ายาง,11375,212,86010310,4,034908,184990xxxxx937,ภัศรา,เจริญภักดี,2,1998-10-22,1,099,9,
53605,53606,11375,โรงพยาบาลปากน้ำชุมพร,11375,เรือมานะ29,86010209,4,034911,011375xxxxx750,ไข่,พม่า,1,1987-09-23,1,048,9,13
53606,53607,09347,โรงพยาบาลส่งเสริมสุขภาพตำบลท่ายาง,11375,110,86010311,4,034913,386010xxxxx343,นิรันดร์,นานุสิทธิ์,1,1975-07-07,1,099,9,
53607,53608,09363,โรงพยาบาลส่งเสริมสุขภาพตำบลหาดทรายรี,11375,28/3,86011605,4,034915,011375xxxxx278,มีมี่.,พม่า,2,2010-09-26,1,048,9,13
53608,53609,11375,โรงพยาบาลปากน้ำชุมพร,11375,402,86010208,4,034918,011375xxxxx454,SAO,PUTTHY,2,1982-02-15,1,057,9,13
53609,53610,11375,โรงพยาบาลปากน้ำชุมพร,11375,402,86010208,4,034919,601530xxxxx359,เมา,เลือท,2,1982-03-02,1,057,9,13
53610,53611,11375,โรงพยาบาลปากน้ำชุมพร,11375,402,86010208,4,034920,601530xxxxx537,วันนักอึม,กัมพูชา,1,1980-01-01,1,057,9,13
53611,53612,11375,โรงพยาบาลปากน้ำชุมพร,11375,204,86010208,4,034921,601530xxxxx405,งึม,เปา,1,1980-03-13,1,057,9,13

In [2]:
import pandas
df = pandas.read_csv("data/typearea_4.csv")
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,#,HOSPCODE,HOSNAME,RECORD_ADDRESS,ADDRESSHOUSENO,FILE_ADDRESS,TYPEAREA,PID,CID,NAME,LNAME,SEX,BIRTH,HID,NATION,DISCHARGE,LABOR
0,1,9347,โรงพยาบาลส่งเสริมสุขภาพตำบลท่ายาง,9347,62,86010311,4,10016,341170xxxxx045,ตุ้ม,จำปาศิริ,2,1952-05-05,0,99,9,NaN
1,2,9347,โรงพยาบาลส่งเสริมสุขภาพตำบลท่ายาง,9347,62,86010311,4,10017,341170xxxxx836,หนูพันธ์,คำพุฒ,2,1970-03-18,0,99,9,NaN
2,3,9347,โรงพยาบาลส่งเสริมสุขภาพตำบลท่ายาง,9347,125/5,86010307,4,10208,386010xxxxx996,จำเนียร,สว่างศรี,2,1953-01-01,0,99,9,NaN
3,4,9347,โรงพยาบาลส่งเสริมสุขภาพตำบลท่ายาง,9347,122/2,86010307,4,10209,377040xxxxx952,สายพิณ,เนตรสายคงคา,2,1974-06-04,0,99,9,NaN
4,5,11375,โรงพยาบาลปากน้ำชุมพร,9347,259,86010207,4,10249,186990xxxxx041,วัชราภรณ์,กาลปักษ์,1,2000-11-08,0,99,9,NaN

In [4]:
import pandas
df3 = pandas.read_csv("data/QueryTypearea_4JOIN.csv")
from pivottablejs import pivot_ui
pivot_ui(df3)

In [2]:
import numpy as np
import numpy.random as rnd

In [47]:
rnd.randint(1,11)

2

In [69]:
import random
outcomes = ['poc','por','pang','pu','ya']
print(random.choice(outcomes))

pu